@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Questrial&display=swap');

/* Contents - elements, classes */
/* index.html page */

body .index{
        background-color: white;
        color: black;
        font-family: 'Questrial', sans-serif;
        font-size: 24px; 
    }

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
}

h1 { 
    background-color: rgb(236, 235, 226);
    text-align: center;
    height: 40px;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
  }

  header h1 a {
      color: rgb(154, 190, 154);
      text-decoration: none;
      background-color: white;
      padding: 10px 100px;
  }

h2 {
    text-align: center;
    font-family: serif;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

    p  {
        font-size: 18px;
        line-height: 23px;
        margin: 10px 25px;  
    }

h3 {
    font-family: serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 220px;
    }

 p {
    padding: 15px;
    margin-left: 25px;
    font-size: 14px;
    }

.wrapper {
    width: 1500px;
    margin: 0 auto;
}

header {
    background-color: white;

}

nav {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    
}

nav ul {

}

nav ul li {
    display: inline;
    background-color: white;
    padding: 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
        background-color: rgb(216, 221, 217);
}

main {
    background-color: #daece2;
    padding: 5%;
    overflow: auto;

}

h4 {
    font-family: serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}

footer {
    background-color: grey;
    text-align: center;
    height: 200px;
    padding: 20px;
} 
footer ul li {
    display: inline;
    background-color: white;
    padding: 5px;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul li a:hover {
        background-color: rgb(207, 209, 208);
}

footer p {
    font-size: 60%;
    color: black;
    padding: 60px;
}



.rightimg {
    width: 45%;
    float: right;
    border: 3px solid grey;
    padding: 12px;
    background-color: ivory;
    margin: 30px 50px;

}


/* robinboyd.html content */

body.robinboyd {
    background-color: rgb(255, 255, 255);
}  

.leftimg  {
    width: 30%;
    float: right;
    border: 3px solid;
    padding: 12px;
    background-color: ivory;
    margin: 50px 50px;

}

    .shadowbox {

    text-align: center;
    width: 25em;
    border: 5px solid rgb(158, 154, 154);
    box-shadow: 8px 8px 5px rgb(182, 207, 184);
    padding: 8px 12px;
    margin: 2rem;    
    margin-right: 40px;
    
}

h5 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 5rem;
}



body.history  {

}
 
  .column {
    float: center;
    margin-left: 25%;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
  }
  
    

h6 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
}

p {
    text-align: center;
}


/* Media query */

/* mobile phone */
@media screen and (max-device-width: 768px) { 
    .column { 
        float: none; 
        width: 100%;
        background-color: white;
        font-style: normal;
    }

@media screen and (max-width: 600px) {
            body {
                background-color: white;
                float: none;
            }
            
            